.background {
  fill: white;
  height:100%;
  width:100%;
}

#upperRect
{
  fill: #0995a5;
  height:50%;
  width:100%;
}

#clickableForeground {
    opacity: 0;
    height:100%;
    width:100%;
}

#myLabel {
    font-size: 60;
    font-family: System-Bold;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 33%;
    fill: white;
}

.runButton {
    cy: 75%;
    r:45;
    fill: #ffcb31;
    anchor: middle;
}

#run1Button {
    cx: 18%;
}

#run2Button {
    cx: 50%;
}

#run3Button {
    cx: 82%;
}



.runLabel {
    y: 75%+23;
    font-size: 70;
    font-family: System-Bold;
    text-length: 1;
    fill: #0995a5;
    display-align: middle;
    text-anchor:middle;
}

#run1Label {
    x: 18%-1;
}

#run2Label {
    x: 50%-1;
}

#run3Label {
    x: 82%-1;
}

#runInstructionText {
    font-size: 32;
    font-family: System-Bold;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 50%;
    fill: #0995a5;
}